<a href="https://colab.research.google.com/github/ravichaurasia18/Python_Data-Mining/blob/master/Panda/Panda2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
myData = files.upload()

In [ ]:
import pandas as pd
import io
myDataSet = pd.read_csv(io.BytesIO(myData['currencies.csv']))
myDataSet

1 : Selecting Rows

first we check to take start and end index

In [ ]:
myDataSet[2:9]

here below we take start index and all it next index come to auto take

In [ ]:
myDataSet[2:]

Below Syntax take data set in rows through starting index and number of gap between every index

In [ ]:
myDataSet[2::3].head()

2 : Selecting Columns From Above DataFrames

Two Ways To Select The Columns In Data Frames 
** myDataSet['column_name'] or myDataSet.column_name**   this syntac is used for single columns to select

In [ ]:
x = myDataSet['Currency']
x.head(10)

In [ ]:
x = myDataSet.Euro
x.head(10)

Select Multiple Columnc Be Select 
myDataSet[['','','']] and type(myDataSet[[]])

In [ ]:
x = myDataSet[['Currency','Euro','Colombian Peso']]
x.head(10)

3 : Selceting Of Subsetes Of DataFrames

In [ ]:
myDataSet.set_index('Colombian Peso').head(10)

In [ ]:
myDataSet["Euro"]

In [ ]:
myDataSet.info()