<a href="https://colab.research.google.com/github/ravichaurasia18/Python_Data-Mining/blob/master/Pandas/Panda2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
myData = files.upload()

In [ ]:
import pandas as pd
import io
myDataSet = pd.read_csv(io.BytesIO(myData['currencies.csv']))
myDataSet

1 : Selecting Rows

first we check to take start and end index

In [ ]:
myDataSet[2:9]

here below we take start index and all it next index come to auto take

In [ ]:
myDataSet[2:]

Below Syntax take data set in rows through starting index and number of gap between every index

In [ ]:
myDataSet[2::3].head()

2 : Selecting Columns From Above DataFrames

Two Ways To Select The Columns In Data Frames 
** myDataSet['column_name'] or myDataSet.column_name**   this syntac is used for single columns to select

In [ ]:
x = myDataSet['Currency']
x.head(10)

In [ ]:
x = myDataSet.Euro
x.head(10)

Select Multiple Columnc Be Select 
myDataSet[['','','']] and type(myDataSet[[]])

In [ ]:
x = myDataSet[['Currency','Euro','Colombian Peso']]
x.head(10)

3 : Selceting Of Subsetes Of DataFrames

In [ ]:
myDataSet.set_index('Colombian Peso').head(10)

In [ ]:
myDataSet["Euro"]

In [ ]:
myDataSet.info()

Panda 3 
        Here We Learn Position and Label Based Indexing
        This Two Concept is used dataFrames positioning and labeling (df.iloc and df.loc)
        Using both the methods, we will do the following indexing operations on a dataframe:
Selecting single elements/cells,
Selecting single and multiple rows,
Selecting single and multiple columns,
Selecting multiple rows and columns.

In [ ]:
myDataSet.iloc[2,4]
myDataSet.head()

In [ ]:
myDataSet.iloc[3,6]
myDataSet.iloc[5]

In [ ]:
myDataSet[1:3]

df.iloc[R,C]

In [ ]:
myDataSet.iloc[[1,2,3]]
myDataSet.iloc[[1,2,3],4]

In [ ]:
myDataSet.loc[[1,3,4],'Euro']

In [ ]:
myDataSet.iloc[[1,2,3,4],5]

In [ ]:
myDataSet.iloc[:3,:3]

In [ ]:
myDataSet.iloc[1:3,[2,3,4]]

In [ ]:
myDataSet.iloc[:,2:8]

Label Based Indexing Code

In [ ]:
help(pd.DataFrame.loc)

In [ ]:
myDataSet.head(11)

In [ ]:
myDataSet['Botswana Pula']

In [ ]:
myDataSet[['Currency','Botswana Pula']]

In [ ]:
myDataSet.reset_index(inplace=True)

In [ ]:
myDataSet.loc[1,'Euro']

In [ ]:
myDataSet.set_index('Currency')

In [ ]:
myDataSet.loc[10,'Euro']

In [ ]:
myDataSet.loc[9]

In [ ]:
myDataSet.loc[9,:]

Slicing and Dicing Dataframes
You have seen how to do indexing of dataframes using df.iloc and df.loc. Now, let's see how to subset dataframes based on certain conditions.

In [ ]:
myDataSet.Euro>1.2375

In [ ]:
myDataSet.loc[myDataSet.Euro>1.2]

In [ ]:
myDataSet.loc[(myDataSet.Euro>1.2),:]