<a href="https://colab.research.google.com/github/ravichaurasia18/Python_Data-Mining/blob/master/Pandas/Panda4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
myFile = files.upload()
myFile2 = files.upload()
myFiles3 = files.upload()

Another example to read Dirrect
import numpy as np
import pandas as pd

market_df = pd.read_csv("C:\\Users\\SUMITH\\Python Notebooks\\Python Notebooks\\upGrad College Program\\Pandas\\global_sales_data/market_fact.csv")
customer_df = pd.read_csv("C:\\Users\\SUMITH\\Python Notebooks\\Python Notebooks\\upGrad College Program\\Pandas\\global_sales_data/cust_dimen.csv")
product_df = pd.read_csv("C:\\Users\\SUMITH\\Python Notebooks\\Python Notebooks\\upGrad College Program\\Pandas\\global_sales_data/prod_dimen.csv")
shipping_df = pd.read_csv("C:\\Users\\SUMITH\\Python Notebooks\\Python Notebooks\\upGrad College Program\\Pandas\\global_sales_data/shipping_dimen.csv")
orders_df = pd.read_csv("C:\\Users\\SUMITH\\Python Notebooks\\Python Notebooks\\upGrad College Program\\Pandas\\global_sales_data/orders_dimen.csv")

here we merge and Concation of multiple of data set Now It Syntax
1 : help(pd.merge)
2: # Merging the dataframes
   # Note that Cust_id is the common column/key, which is provided to the 'on' argument
# how = 'inner' makes sure that only the customer ids present in both dfs are included in the result
df_1 = pd.merge(market_df, customer_df, how='inner', on='Cust_id')
df_1.head()
3 : # Now, you can subset the orders made by customers from 'Corporate' segment
df_1.loc[df_1['Customer_Segment'] == 'CORPORATE', :]
4 : # Example 2: Select all orders from product category = office supplies and from the corporate segment
# We now need to merge the product_df

df_2 = pd.merge(df_1, product_df, how='inner', on='Prod_id')
df_2.head()
5 : # Select all orders from product category = office supplies and from the corporate segment
df_2.loc[(df_2['Product_Category']=='OFFICE SUPPLIES') & (df_2['Customer_Segment']=='CORPORATE'),:]
6 : # Merging shipping_df
df_3 = pd.merge(df_2, shipping_df, how='inner', on='Ship_id')
df_3.shape
7 :# Merging the orders table to create a master df
master_df = pd.merge(df_3, orders_df, how='inner', on='Ord_id')
master_df.shape
master_df.head()
8 :

In [ ]:
# dataframes having the same columns
import pandas as pd
df1 = pd.DataFrame({'Name': ['Aman', 'Joy', 'Rashmi', 'Saif'],
                    'Age': ['34', '31', '22', '33'],
                    'Gender': ['M', 'M', 'F', 'M']}
                  )

df2 = pd.DataFrame({'Name': ['Akhil', 'Asha', 'Preeti'],
                    'Age': ['31', '22', '23'],
                    'Gender': ['M', 'F', 'F']}
                  )
df1

In [ ]:
df2

In [ ]:
# To concatenate them, one on top of the other, you can use pd.concat
# The first argument is a sequence (list) of dataframes
# axis = 0 indicates that we want to concat along the row axis
pd.concat([df1, df2], axis = 0)

In [ ]:
# A useful and intuitive alternative to concat along the rows is the append() function
# It concatenates along the rows
df1.append(df2)

In [ ]:
df1 = pd.DataFrame({'Name': ['Aman', 'Joy', 'Rashmi', 'Saif'],
                    'Age': ['34', '31', '22', '33'],
                    'Gender': ['M', 'M', 'F', 'M']}
                  )
df1

In [ ]:
df2 = pd.DataFrame({'School': ['RK Public', 'JSP', 'Carmel Convent', 'St. Paul'],
                    'Graduation Marks': ['84', '89', '76', '91']}
                  )
df2

In [ ]:
# To join the two dataframes, use axis = 1 to indicate joining along the columns axis
# The join is possible because the corresponding rows have the same indices
pd.concat([df1, df2], axis = 1)

In [ ]:
df1.append(df2)

Pandas Chapter 6 :

Grouping And Summarising


Grouping and aggregation are some of the most frequently used operations in data analysis, especially while doing exploratory data analysis (EDA), where comparing summary statistics across groups of data is common.

For e.g., in the retail sales data we are working with, you may want to compare the average sales of various regions, or compare the total profit of two customer segments.

Grouping analysis can be thought of as having three parts:

Splitting the data into groups (e.g. groups of customer segments, product categories, etc.)
Applying a function to each group (e.g. mean or total sales of each customer segment)
Combining the results into a data structure showing the summary statistics
Let's work through some examples.

Unsupported Cell Type. Double-Click to inspect/edit the content.
Unsupported Cell Type. Double-Click to inspect/edit the content.

Say you want to understand how well or poorly the business is doing in various customer segments, regions, product categories etc. Specifically, you want to identify areas of business where you are incurrring heavy losses, and want to take action accordingly.

To do that, we will answer questions such as:

Which customer segments are the least profitable?
Which product categories and sub-categories are the least profitable?
Customers in which geographic region cause the most losses?
Etc.
First, we will merge all the dataframes, so we have all the data in one master_df.

Merge All Files of Data Set 
# Merging the dataframes one by one
df_1 = pd.merge(market_df, customer_df, how='inner', on='Cust_id')
df_2 = pd.merge(df_1, product_df, how='inner', on='Prod_id')
df_3 = pd.merge(df_2, shipping_df, how='inner', on='Ship_id')
master_df = pd.merge(df_3, orders_df, how='inner', on='Ord_id')

master_df.head()

Step 1. Grouping using df.groupby()
Typically, you group the data using a categorical variable, such as customer segments, product categories, etc. This creates as many subsets of the data as there are levels in the categorical variable.

For example, in this case, we will group the data along Customer_Segment.


# Which customer segments are the least profitable? 

# Step 1. Grouping: First, we will group the dataframe by customer segments
Syntax : df_by_segment = master_df.groupby('Customer_Segment') and 
df_by_segment

Note that df.groupby returns a DataFrameGroupBy object.

Step 2. Applying a Function
After grouping, you apply a function to a numeric variable, such as mean(Sales), sum(Profit), etc.

Syntax : master_df[master_df['Customer_Segment']=='CORPORATE'][['Customer_Segment','Profit']]

syntax : # Step 2. Applying a function
# We can choose aggregate functions such as sum, mean, median, etc.
df_by_segment['Profit'].sum()

Syntax : # Alternatively
df_by_segment.Profit.sum()
  

  # For better readability, you may want to sort the summarised series:
df_by_segment.Profit.sum().sort_values(ascending = False)

Step 3. Combining the results into a Data Structure
You can optionally show the results as a dataframe.


syntax :   # Converting to a df
rdf = pd.DataFrame(df_by_segment['Profit'].sum())  and rdf.reset_index() and # Let's go through some more examples
# E.g.: Which product categories are the least profitable?

# 1. Group by product category
by_product_cat = master_df.groupby('Product_Category')   and # 2. This time, let's compare average profits
# Apply mean() on Profit
by_product_cat['Profit'].mean()

FURNITURE is the least profitable, TECHNOLOGY the most. Let's see which product sub-cetgories within FURNITURE are less profitable.

Syntax : # E.g.: Which product categories and sub-categories are the least profitable?
# 1. Group by category and sub-category
by_product_cat_subcat = master_df.groupby(['Product_Category', 'Product_Sub_Category'])
by_product_cat_subcat['Profit'].mean()

And

ecall the df.describe() method?
# To apply multiple functions simultaneously, you can use the describe() function on the grouped df object
by_product_cat['Profit'].describe()# R


and


# Some other summary functions to apply on groups
by_product_cat['Profit'].count()

by_product_cat['Profit'].min() 

and

# E.g. Customers in which geographic region are the least profitable?
master_df.groupby('Region').Profit.mean()

and

R1: 2/12*100
R2: 2
r3: 9


# Note that the resulting object is a Series, thus you can perform vectorised computations on them

# E.g. Calculate the Sales across each region as a percentage of total Sales
# You can divide the entire series by a number (total sales) easily 
(master_df.groupby('Region').Sales.sum() / sum(master_df['Sales']))*100