<a href="https://colab.research.google.com/github/ravichaurasia18/Python_Data-Mining/blob/master/Pandas/pandapractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
myData = files.upload();

Set 1 : Data Set Observation 
1.   using df.head(n) or df.head()
2.   using df.tail(n) or df.tail()
3.   using df.iloc(row : col) 
4.   using df.filter(regex = 'regex')
5.   using df.loc(:,'col1':'col5') or like or extra
6.   using info or shape or counts or Columns

In [ ]:
myData

In [ ]:
import pandas as pd
import io
DF = pd.read_csv(io.BytesIO(myData['market_fact.csv']))
DF

In [ ]:
DF.head(10)

In [ ]:
DF.tail(10)

In [ ]:
DF.iloc[4 : 10]

In [ ]:
DF.filter(regex="regex")

In [ ]:
DF.filter(regex="Ship_id")

In [ ]:
DF.filter(regex="Ship_id").head(10)

In [ ]:
DF.loc[:,"Ship_id" : "Discount"]

In [ ]:
DF.info()

In [ ]:
DF.info

In [ ]:
DF.shape

In [ ]:
DF.count

In [ ]:
DF.columns

Set 2 : Data Set Plotting

1. using df.plot.hist()
2. using df.plot.scatter(x = 'w',y ='h')

In [ ]:
DF.plot.hist()

In [ ]:
DF.plot.scatter(x = 'Sales',y='Shipping_Cost')