<a href="https://colab.research.google.com/github/ravichaurasia18/Python_Data-Mining/blob/master/Pandas/Panda1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First We import A files through this code

In [ ]:
from google.colab import files
myFile = files.upload()

After Import File To Read CSV Files

In [ ]:
import pandas as pd
import io
myData = pd.read_csv(io.BytesIO(myFile['currencies.csv']))
myData

This Head Is Used To Display The First Rows Of Data Of Columns

In [ ]:
myData.head(10)

This Below Code Is Display The Tail Of Last Rows Of Data Of Columns

In [ ]:
myData.tail(10)

This Info function Help To Find The To Check How Many Of Non Null Values I n Columns

In [ ]:
myData.info()

Describe function Is Help To Find The Total Count, Mean,Mode,Median,Standard Division,Minimum,25%,50%,75%,max

In [ ]:
myData.describe()

This Display Total Culomns Of Data Set

In [ ]:
myData.columns

This Shape Display Total Rows And Culomns

In [ ]:
myData.shape

This Display Below All Value In Arrays

In [ ]:
myData.values

In [ ]:
myData.head()

Below Here Be Set Index Value Which Start

In [ ]:
myData.set_index('Currency')

Here Below Sort The Columnn items in descinding order

In [ ]:
myData.sort_index(axis = 0, ascending = False)

Here We Default sort assending Order

In [ ]:
myData.sort_index(axis = 0)

In [ ]:
myData.sort_values(by='Currency').head()

In [ ]:
myData.sort_values(by='Euro', ascending = False).head()

In [ ]:
myData.sort_values(by=['Euro','Polish Zloty','Peso Uruguayo',], ascending = False)

Here Below Find The Total date between start data to end date

In [ ]:
seriesDate = pd.date_range(start = 'July 01 2016', end = 'July 18 2016')
print(seriesDate)
type(seriesDate)

Create Series Of Our Data Set